
div{
    border: 10px solid black;
    outline: 4px dotted red;
    box-sizing: border-box;
    margin: 80px 490px 0px 490px ;
    

}
#node{
    border: 1px solid green;
    color: green;
    font-size: 1.2em;
    font-style:normal;
    font-weight: bold;
    padding: 5px;
    margin:30px;
}
img{
    display:block;
    margin-left: auto ;
    margin-right: auto;
    height: 40%;
    width: 40%;
}
#paragraph{
    border: 5px dashed red;
    color: green;
    height: 120px;
    padding: 10px;
    margin:30px 20px 20px 20px;
    text-align: center;
    overflow: scroll;
    
}
